# compiled output
/dist

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Tests
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

tmp
out
release.zip

data
assets
.env
scripts

node_modules
**/node_modules