# compiled output
/dist

# Logs
logs
*.log
npm-debug.log*

# md
*.md

# OS
.DS_Store

# Tests
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

tmp
out
data
assets
test
.env
scripts

node_modules
**/node_modules